body {
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    
}

h1 {
    display: block;
}

.square {
    background-color: rgb(88, 143, 153);
    border: 3px solid black;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 150px;
    font-weight: 800;
}

.square:hover {
    background-color: rgb(28, 83, 93);
    cursor: hand;
}